* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100vh;
}

.board {
    z-index: 200;
}

.btn {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(126, 83, 218, 0.25);
    z-index: 5;
    position: fixed;
    cursor: pointer;
    transition: 0.3s;
}

.color {
    bottom: 40px;
    left: 40px;
    background: rgba(51, 51, 51, 0.6) url("./images/palette.svg") no-repeat center;
    background-size: 40px;
}

.menu {
    top: 40px;
    right: 40px;
    background: rgba(51, 51, 51, 0.6);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

.menu_active {
    height: auto;
    width: auto;
    border-radius: 50px;
    padding: 25px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    justify-content: space-between;
}

.menu_active .menu__dash {
    transition: 0.3s 0.3s ease-in-out;
}

.menu_active .menu__dash1 {
    position: relative;
    top: 10px;
    transform: rotate(45deg);
}
.menu_active .menu__dash3 {
    position: relative;
    top: -12px;
    transform: rotate(-45deg);
}
.menu_active .menu__dash2 {
    opacity: 0;
}

.menu_disabled .menu__inner {
    display: none;
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    height: 70px;
    width: 240px;
    background: url("./images/menu/logo.svg") no-repeat center;
    margin-right: 5rem;
    align-self: center;
}

.menu__row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 10px;
}

.menu__column {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 1rem;
}

.menu__item {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    padding: 15px;
    border-radius: 15px;
}

.menu__item_1 .menu__item-img {
    background: url("./images/menu/save.svg") no-repeat center;
    background-size: contain;
}
.menu__item_2 .menu__item-img {
    background: url("./images/menu/reply.svg") no-repeat center;
    background-size: contain;
}
.menu__item_3 .menu__item-img {
    background: url("./images/menu/open.svg") no-repeat center;
    background-size: contain;
}
.menu__item_4 .menu__item-img {
    background: url("./images/menu/clear.svg") no-repeat center;
    background-size: contain;
}
.menu__item_5 .menu__item-img {
    background: url("./images/menu/eraser.svg") no-repeat center;
    background-size: contain;
}
.menu__item_6 .menu__item-img {
    background: url("./images/menu/weight.svg") no-repeat center;
    background-size: contain;
}
.menu__item_7 .menu__item-img {
    background: url("./images/menu/speed.svg") no-repeat center;
    background-size: contain;
}
.menu__item_8 .menu__item-img {
    background: url("./images/menu/line.svg") no-repeat center;
    background-size: contain;
}

.menu__item-img {
    height: 70px;
    width: 50px;
    background: #000;
}

.menu__inner {
    display: flex;
}


.menu__btn {
    height: 33px;
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.menu__dash {
    height: 2.5px;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
}

.color_enabled {
    width: auto;
    border-radius: 50px;
    background: rgba(51, 51, 51, 0.6) url("./images/close.svg") no-repeat 25px center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px 25px 100px;
}

.color_enabled .color__inner {
    display: flex;
    align-items: center;
}

.color_disabled .color__inner {
    display: none;
}

.color__item {
    height: 50px;
    width: 50px;
    margin-right: 25px;
    border-radius: 10px;
}

.color__item1 {
    background: #FA0A0A;
}
.color__item2 {
    background: #0AEBFA;
}
.color__item3 {
    background: #74FA0A;
}
.color__item4 {
    background: #F5FA0A;
}
.color__item5 {
    background: #1E0AFA;
}

.color__input {
    width: 50px;
    height: 50px;
    background: transparent;
    opacity: 0;
    cursor: pointer;
}

.color__label {
    width: 50px;
    height: 50px;
    display: block;
    background: #141414 url("./images/picker.svg") center no-repeat;
    background-size: 25px;
    border-radius: 10px;
    position: relative;
    top: 25px;
}

.weight {
    z-index: 0;
    width: 300px;
    border-radius: 50px;
    height: 100px;
    padding: 20px;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    background: rgba(51, 51, 51, 0.6);
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    display: none;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
}

.weight__input {
    width: 100%;
    accent-color: #7915e3;
    margin-top: 10px;
    outline: none;
}

.weight__info {
    margin-left: -7px;
    text-align: center;
    position: relative;
    left: 100px;
    transition: 0.3s;
}